@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

footer {
    width: 100vw;
    min-height: 50px;
    height: fit-content;
    display: flex;
    background-color: #171d21;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #e5e5e5;
}

.main {
    min-height: 100vh;
    height: fit-content;
    background-color: #171d21;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.main * {
    color: #e5e5e5;
}

.main>p{
    max-width: 600px;
    color: #e5e5e5;
    margin-top: 20px;
}

.special-thanks {
    max-width: 600px;
}
.special-thanks span {
    max-width: 70%;
}

.main>img {
    width: 200px;
    max-width: 95%;
}

.rly_thx {
    font-style: italic;
    opacity: 0.7;
}

.special-thanks section {
    margin: 30px 0;
}

.special-thanks a {
    display: block;
}

.special-thanks section {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.special-thanks section li {
    font-style: italic;
    list-style: '- ';
}