<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WOSP~CON 2024 | LOREM IPSUM OwO</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous" defer></script>

    <link href="/static/index.css" rel="stylesheet" type="text/css">
    <script defer src="/static/index.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">

        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <span>WOŚP~CON 2024 </span>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                    <ul class="navbar-nav  mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Start</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Sekcja 1</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Lokalizacja</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Program</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Organizatorzy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Sponsorzy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Wystawcy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Regulaminy i zgody</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="col-lg-12 welcome_section">
            <h1 class="hidden">WOŚP~CON 2024</h1>
            <div id="w_text_wrapper">
                <p class="hidden">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet autem delectus error id
                    illum</p>
            </div>
            <div id="until" class="hidden">
                <span>Do rozpoczęcia wydarzenia pozostało:</span>
                <table>
                    <tr class="digits">
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>DNI</td>
                        <td>GODZIN</td>
                        <td>MINUT</td>
                        <td>SEKUND</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <!--sekcja przykladowa-->
    <section class="row">
        <div class="col-lg-12 stitle">
            <h1>LOREM IPSUM</h1>
            <span>lorem ipsum OwO</span>
        </div>
        <div class="col-lg-6 desc">
            <h1>Lorem ipsum</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab animi ducimus ea eaque illum laborum odio
                qui tempora ut. Accusamus alias corporis esse saepe. Animi beatae culpa id neque unde. Lorem ipsum dolor
                sit amet, consectetur adipisicing elit. Ducimus eius enim est eum iste maxime qui quos sint. Corporis
                debitis error eveniet ipsam itaque magnam maiores numquam quaerat quis ullam?</p>
        </div>
        <div class="col-lg-6 img" id="image1"></div>
    </section>

    <!-- info o lokalizacji wydarzenia-->
    <section class="row">
        <div class="col-lg-12 stitle">
            <h1>LOKALIZACJA</h1>
            <span>lorem ipsum</span>
        </div>
        <div class="col-lg-6 desc ">
            <h1 class="hidden">Lorem ipsum</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus est odit repudiandae. A architecto
                atque, eius eveniet expedita explicabo in labore minus modi mollitia neque non obcaecati
                praesentium,
                provident voluptate.</p>
        </div>
        <div class="col-lg-6 mapholder">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1503.7308968203647!2d17.923482365322176!3d50.664931893443644!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4710530f9ef667e3%3A0xea142c993c4b0ffb!2sTEB%20Edukacja!5e0!3m2!1spl!2spl!4v1702068272619!5m2!1spl!2spl"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>

    <!--info o programie -->
    <section class="row program">
        <div class="col-lg-12 stitle">
            <h1>PROGRAM</h1>
            <span>lorem ipsum</span>
        </div>
        <div class="col-lg-12 program-holder">
            <div class="pcard">
                <img src="/static/chalkboard-user-solid.svg">
                <h3>Program title</h3>
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur assumenda consequatur et
                    fugit numquam, odit provident quod ut. Accusantium architecto autem ducimus esse facilis fugit
                    harum obcaecati recusandae reiciendis rerum?</span>
            </div>
            <div class="pcard">
                <img src="/static/chalkboard-user-solid.svg">
                <h3>Program title</h3>
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur assumenda consequatur et
                    fugit numquam, odit provident quod ut. Accusantium architecto autem ducimus esse facilis fugit
                    harum obcaecati recusandae reiciendis rerum?</span>
            </div>
            <div class="pcard">
                <img src="/static/chalkboard-user-solid.svg">
                <h3>Program title</h3>
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur assumenda consequatur et
                    fugit numquam, odit provident quod ut. Accusantium architecto autem ducimus esse facilis fugit
                    harum obcaecati recusandae reiciendis rerum?</span>
            </div>
            <div class="pcard">
                <img src="/static/chalkboard-user-solid.svg">
                <h3>Program title</h3>
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur assumenda consequatur et
                    fugit numquam, odit provident quod ut. Accusantium architecto autem ducimus esse facilis fugit
                    harum obcaecati recusandae reiciendis rerum?</span>
            </div>
            <div class="pcard">
                <img src="/static/chalkboard-user-solid.svg">
                <h3>Program title</h3>
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur assumenda consequatur et
                    fugit numquam, odit provident quod ut. Accusantium architecto autem ducimus esse facilis fugit
                    harum obcaecati recusandae reiciendis rerum?</span>
            </div>
            <div class="pcard">
                <img src="/static/chalkboard-user-solid.svg">
                <h3>Program title</h3>
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur assumenda consequatur et
                    fugit numquam, odit provident quod ut. Accusantium architecto autem ducimus esse facilis fugit
                    harum obcaecati recusandae reiciendis rerum?</span>
            </div>
            <div class="pcard">
                <img src="/static/chalkboard-user-solid.svg">
                <h3>Program title</h3>
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur assumenda consequatur et
                    fugit numquam, odit provident quod ut. Accusantium architecto autem ducimus esse facilis fugit
                    harum obcaecati recusandae reiciendis rerum?</span>
            </div>
            <div class="pcard">
                <img src="/static/chalkboard-user-solid.svg">
                <h3>Program title</h3>
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur assumenda consequatur et
                    fugit numquam, odit provident quod ut. Accusantium architecto autem ducimus esse facilis fugit
                    harum obcaecati recusandae reiciendis rerum?</span>
            </div>
        </div>
    </section>

    <section class="row about_orgs">
        <div class="col-lg-12 stitle dark">
            <h1>ORGANIZATORZY</h1>
            <span>lorem ipsum</span>
        </div>
        <div class="col-lg-6 col-md-6 orgcard">
            <div>
                <h1>Adam <span>Budzowski</span></h1>
                <span>lorem ipsum</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias asperiores autem, dicta, ducimus ea
                    eius
                    enim fuga harum labore, laborum neque pariatur perferendis praesentium repellat repudiandae suscipit
                    tempora voluptates voluptatibus.</p>
            </div>
            <img src="/static/kitagawa.png">
        </div>
        <div class="col-lg-6 col-md-6 orgcard">
            <div>
                <h1>Adam <span>Budzowski</span></h1>
                <span>lorem ipsum</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias asperiores autem, dicta, ducimus ea
                    eius
                    enim fuga harum labore, laborum neque pariatur perferendis praesentium repellat repudiandae suscipit
                    tempora voluptates voluptatibus.</p>
            </div>
            <img src="/static/kitagawa.png">
        </div>
        <!--
        <div class="col-lg-6 orgcard">
            <div>
                <h1>Agnieszka <span>Kocoń</span></h1>
                <span>lorem ipsum</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias asperiores autem, dicta, ducimus ea
                    eius
                    enim fuga harum labore, laborum neque pariatur perferendis praesentium repellat repudiandae suscipit
                    tempora voluptates voluptatibus.</p>
            </div>
            <img src="/static/kitagawa.png">
        </div>
        <div class="col-lg-6 orgcard">
            <div>
                <h1>Bartosz <span>Kobyłczyk</span></h1>
                <span>lorem ipsum</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias asperiores autem, dicta, ducimus ea
                    eius
                    enim fuga harum labore, laborum neque pariatur perferendis praesentium repellat repudiandae suscipit
                    tempora voluptates voluptatibus.</p>
            </div>
            <img src="/static/kitagawa.png">
        </div>
        <div class="col-lg-6 orgcard">
            <div>
                <h1>Denis <span>Rzyszka</span></h1>
                <span>lorem ipsum</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias asperiores autem, dicta, ducimus ea
                    eius
                    enim fuga harum labore, laborum neque pariatur perferendis praesentium repellat repudiandae suscipit
                    tempora voluptates voluptatibus.</p>
            </div>
            <img src="/static/kitagawa.png">
        </div>
        <div class="col-lg-6 orgcard">
            <div>
                <h1>Magda <span>Żołubak</span></h1>
                <span>lorem ipsum</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias asperiores autem, dicta, ducimus ea
                    eius
                    enim fuga harum labore, laborum neque pariatur perferendis praesentium repellat repudiandae suscipit
                    tempora voluptates voluptatibus.</p>
            </div>
            <img src="/static/kitagawa.png">
        </div>
        <div class="col-lg-6 orgcard">
            <div>
                <h1>Jakub <span>Sytnik</span></h1>
                <span>lorem ipsum</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias asperiores autem, dicta, ducimus ea
                    eius
                    enim fuga harum labore, laborum neque pariatur perferendis praesentium repellat repudiandae suscipit
                    tempora voluptates voluptatibus.</p>
            </div>
            <img src="/static/kitagawa.png">
        </div>
        <div class="col-lg-6 orgcard">
            <div>
                <h1>Kamila <span>Wróblewska</span></h1>
                <span>lorem ipsum</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias asperiores autem, dicta, ducimus ea
                    eius
                    enim fuga harum labore, laborum neque pariatur perferendis praesentium repellat repudiandae suscipit
                    tempora voluptates voluptatibus.</p>
            </div>
            <img src="/static/kitagawa.png">
        </div>
        <div class="col-lg-6 orgcard">
            <div>
                <h1>Kasia <span>Szostak</span></h1>
                <span>lorem ipsum</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias asperiores autem, dicta, ducimus ea
                    eius
                    enim fuga harum labore, laborum neque pariatur perferendis praesentium repellat repudiandae suscipit
                    tempora voluptates voluptatibus.</p>
            </div>
            <img src="/static/kitagawa.png">
        </div>
        <div class="col-lg-6 orgcard">
            <div>
                <h1>Oliwia <span>Turek</span></h1>
                <span>lorem ipsum</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias asperiores autem, dicta, ducimus ea
                    eius
                    enim fuga harum labore, laborum neque pariatur perferendis praesentium repellat repudiandae suscipit
                    tempora voluptates voluptatibus.</p>
            </div>
            <img src="/static/kitagawa.png">
        </div>
        <div class="col-lg-6 orgcard">
            <div>
                <h1>Przemysław <span>Marenin</span></h1>
                <span>lorem ipsum</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias asperiores autem, dicta, ducimus ea
                    eius
                    enim fuga harum labore, laborum neque pariatur perferendis praesentium repellat repudiandae suscipit
                    tempora voluptates voluptatibus.</p>
            </div>
            <img src="/static/kitagawa.png">
        </div>
        <div class="col-lg-6 orgcard">
            <div>
                <h1>Weronika <span>Policht</span></h1>
                <span>lorem ipsum</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias asperiores autem, dicta, ducimus ea
                    eius
                    enim fuga harum labore, laborum neque pariatur perferendis praesentium repellat repudiandae suscipit
                    tempora voluptates voluptatibus.</p>
            </div>
            <img src="/static/kitagawa.png">
        </div>-->
    </section>

    <!--dokumenty-->
    <section class="row">
        <div class="col-lg-12 stitle">
            <h1>REGULAMINY I ZGODY</h1>
            <span>lorem ipsum</span>
        </div>
        <div class="col-lg-12 documents">
            <div class="doccard"><h5>Regulamin wydarzenia</h5></div>
            <div class="doccard"><h5>Regulamin konkursu cosplay</h5></div>
            <div class="doccard"><h5>Regulamin wystawców</h5></div>
            <div class="doccard"><h5>Zgoda na nocleg</h5></div>
        </div>
    </section>
</div>

</body>
</html>