<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WOŚPCON 2024</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous" defer></script>

    <link href="/static/index.css" rel="stylesheet" type="text/css">
    <script defer src="/static/index.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div id="org_only_info">
            <span>
                Aktualnie strona jest dostępna wyłącznie dla wglądu organizatorów. Jeśli trafiłeś/aś tutaj przypadkowo, gratulacje! ;)
                Wróć za kilka dni, a zastaniesz w pełni gotową stronę<br>
                ~ Julian
            </span>
        </div>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <span>WOŚP~CON 2024</span>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#start">Start</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#section1">Sekcja 1</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#location">Lokalizacja</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#program">Program</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#orgs">Organizatorzy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#speakers">Prelekcje</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#documents">Regulaminy i zgody</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="col-lg-12 welcome_section" id="start">
            <h1 class="hidden">WOŚPCON 2024</h1>
            <div id="w_text_wrapper">
                <p class="hidden">malinka kazala skasowac usmieszki...</p>
            </div>
            <div id="until" class="hidden">
                <span>Do rozpoczęcia wydarzenia pozostało:</span>
                <table>
                    <tr class="digits">
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>DNI</td>
                        <td>GODZIN</td>
                        <td>MINUT</td>
                        <td>SEKUND</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <!--sekcja przykladowa-->
    <section class="row">
        <div class="col-lg-12 stitle" id="section1">
            <h1>Czym jest WOŚPCON?</h1>
            <span>lorem ipsum</span>
        </div>
        <div class="col-lg-6 desc">
            <h1 class="hidden">Lorem ipsum</h1>
            <p class="hidden">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab animi ducimus ea eaque illum
                laborum odio
                qui tempora ut. Accusamus alias corporis esse saepe. Animi beatae culpa id neque unde. Lorem ipsum dolor
                sit amet, consectetur adipisicing elit. Ducimus eius enim est eum iste maxime qui quos sint. Corporis
                debitis error eveniet ipsam itaque magnam maiores numquam quaerat quis ullam?</p>
        </div>
        <div class="col-lg-6 img">
            <img src="/static/plakat1.png">
        </div>
    </section>

    <!-- info o lokalizacji wydarzenia-->
    <section class="row">
        <div class="col-lg-12 stitle" id="location">
            <h1>LOKALIZACJA</h1>
            <span>lorem ipsum</span>
        </div>
        <div class="col-lg-6 desc">
            <h1 class="hidden">Opole, ul. Krakowska 45-47</h1>
            <p class="hidden">Konwent odbędzie się w budynku szkoły TEB Edukacja na ulicy Krakowskiej 45-47 w
                Opolu. W pobliżu jest dworzec PKP oraz centrum przesiadkowe PKS, więc osoby z daleka
                nie muszą się martwić dotarciem do nas. Szkoła w swoim otoczeniu ma sklepy spożywcze,
                kawiarnie, restauracje oraz oddaloną o kilka minut galerię handlową Solaris..</p>
        </div>
        <div class="col-lg-6 mapholder">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1503.7308968203647!2d17.923482365322176!3d50.664931893443644!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4710530f9ef667e3%3A0xea142c993c4b0ffb!2sTEB%20Edukacja!5e0!3m2!1spl!2spl!4v1702068272619!5m2!1spl!2spl"
                    style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>

    <!--info o programie -->
    <section class="row program" id="program">
        <div class="col-lg-12 stitle">
            <h1>PROGRAM</h1>
            <span>Nasz program swoją różnorodnością zapewni każdemu gościowi naszego konwentu coś dla
            siebie.<br>Dokładny opis znajduje się na dole, ale zapewniamy, że u nas będziecie się świetnie
            bawić <3</span>
        </div>
        <div class="col-lg-12 program-holder">
            <div class="pcard hidden">
                <img src="/static/chalkboard-user-solid.svg">
                <h3>Prelekcje</h3>
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur assumenda consequatur et
                    fugit numquam, odit provident quod ut. Accusantium architecto autem ducimus esse facilis fugit
                    harum obcaecati recusandae reiciendis rerum?</span>
            </div>
            <div class="pcard hidden">
                <img src="/static/chalkboard-user-solid.svg">
                <h3>Konkurs Cosplay</h3>
                <span>Konkurs prowadzony przez doświadczonych i pozytywnych cosplayerów, każdy z uczestników zostanie
                    doceniony. Jest to wydarzenie, które zrzesza cosplayerów z całej Polski. Każdy chce pokazać się z
                    jak najlepszej strony i zostać docenionym za swój strój lub scenkę dlatego właśnie WOŚPcon daje taką
                    możliwość, zapraszamy początkujących jak i zaprawionych cosplayerów.</span>
            </div>
            <div class="pcard hidden">
                <img src="/static/chalkboard-user-solid.svg">
                <h3>Wystawcy</h3>
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur assumenda consequatur et
                    fugit numquam, odit provident quod ut. Accusantium architecto autem ducimus esse facilis fugit
                    harum obcaecati recusandae reiciendis rerum?</span>
            </div>
            <div class="pcard hidden">
                <img src="/static/chalkboard-user-solid.svg">
                <h3>Turniej UNO</h3>
                <span>Organizowany w pokoju gier o wcześniej podanej godzinie. Gwarantuje nagrody osobom na
                podium oraz finalistom. Zapraszamy na zapisy zaczynające się równo z godziną rozpoczęcia
                się konwentu!</span>
            </div>
            <div class="pcard hidden">
                <img src="/static/chalkboard-user-solid.svg">
                <h3>Fotostudio</h3>
                <span>Przynajmniej jedno pomieszczenie oddane w ręce zaproszonych fotografów gwarantujące
                możliwość zrobienia zdjęcia w swoim cospie, a nawet nawiązaniu współpracy z fotografem.
                Serdecznie zapraszamy na utrwalenie wspomnień w formie zdjęcia.</span>
            </div>
            <div class="pcard hidden">
                <img src="/static/chalkboard-user-solid.svg">
                <h3>Streaming</h3>
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur assumenda consequatur et
                    fugit numquam, odit provident quod ut. Accusantium architecto autem ducimus esse facilis fugit
                    harum obcaecati recusandae reiciendis rerum?</span>
            </div>
            <div class="pcard hidden">
                <img src="/static/chalkboard-user-solid.svg">
                <h3>Goście Cosplayowi</h3>
                <span>Grupa osób zaproszona przez naszych organizatorów, w której skład wchodzą wybrane
                osoby z świata cosplay. Zapewnią naszym odwiedzającym garść wiedzy i miłego słowa, oraz
                oczywiście możliwości zrobienia sobie zdjęcia.</span>
            </div>
        </div>
    </section>

    <section class="row about_orgs" id="orgs">
        <div class="col-lg-12 stitle dark">
            <h1>ORGANIZATORZY</h1>
            <span>lorem ipsum</span>
        </div>
        <div class="col-lg-6 col-md-6 orgcard hidden-content l">
            <div>
                <h1>Adam <span>Budzowski</span></h1>
                <span>Dyrektor naczelny</span>
                <p>Mam na imię Adam. Nic mi tak w życiu nie wyszło jak włosy... i rodzinka 😉
                    Uwielbiam gry komputerowe, sci-fi i fantasy, jestem graczem niemal nałogowym, a z pasji i zawodu
                    informatykiem, nauczycielem i trenerem esportowym. Życiowe motto: "Nie traktuj życia zbyt poważnie i
                    tak nie wyjdziesz z tego żywy".</p>
                <div class="refs">
                    <a class="ref instagram"><span>Instagram</span></a>
                    <a class="ref facebook"><span>Facebook</span></a>
                </div>
            </div>
            <img src="/static/adam.jpg">
        </div>
        <div class="col-lg-6 col-md-6 orgcard hidden-content r">
            <div>
                <h1>Julian <span>Jaros</span></h1>
                <span>Zastępca dyrektora | Koordynator pracy obsługi | Technik</span>
                <p>
                    kocham spać...
                </p>
            </div>
            <img src="/static/kitagawa.png">
        </div>

        <div class="col-lg-6 col-md-6 orgcard hidden-content l">
            <div>
                <h1>Agnieszka <span>Kocoń</span></h1>
                <span>Specjalistka ds. Prelegentów | Streamerka</span>
                <p>Witam! Z tej strony Arkadia. Są dwie rzeczy, które uwieeelbiam, lecz totalnie nie potrafię: śpiewanie
                    i gra w bilard 😉 Na WOŚPconie poprowadzę stream z Overwatcha oraz zaopiekuję się wystawcami.</p>
            </div>
            <img src="/static/kitagawa.png">
        </div>
        <div class="col-lg-6 col-md-6 orgcard hidden-content r">
            <div>
                <h1>Bartosz <span>Kobyłczyk</span></h1>
                <span>Przedstawiciel sztabu WOŚP Opole | Koordynator medyczny</span>
                <p>Z tej strony Bartek, wszędobylski koordynator, który odpowie na każde pytanie i z każdym problemem
                    chętnie pomogę. Ze światem cosplay dopiero zacząłem się zaprzyjaźniać, ale na pewno będę jakoś
                    przebrany.</p>
            </div>
            <img src="/static/kitagawa.png">
        </div>
        <div class="col-lg-6 col-md-6 orgcard hidden-content l">
            <div>
                <h1>Denis <span>Rzyszka</span></h1>
                <span>Specjalista ds. planszówek | Steve z minecraft</span>
                <p>Siema z tej strony demsi. Kojarzycie mnie pewnie jako Steve z Minecrafta. Cosplayerem z
                    krwi i kości bym się nie nazwał, gdyż posiadam dwa stroje, za to uwielbiam atmosferę na
                    konwentach. Na szyciu strojów kompletnie się nie znam, dlatego ćwiczę klejenie kartonu. Na
                    WOŚPconie pilnuje turnieju UNO oraz pokoju z grami planszowymi i elektronicznymi.
                </p>
            </div>
            <img src="/static/denis.jpg">
        </div>
        <div class="col-lg-6 col-md-6 orgcard hidden-content r">
            <div>
                <h1>Magda <span>Żołubak</span></h1>
                <span>Przedstawicielka sztabu WOŚP Opole | Koordynator medyczny</span>
                <p> Hejka, jestem Magda. Na co dzień jestem nauczycielem przedmiotów zawodowych. Również
                    od lat jestem działaczem w sztabie WOŚP. Na naszym konwencie zajmuje się właśnie
                    sprawami strikte związanymi z współpraca z WOŚPem. Znaleźć mnie możecie w pokoju
                    organizatorów albo jak będę biegać i krzyczeć na ludzi. Ale nie bójcie się i jeśli będziecie
                    potrzebowa</p>
            </div>
            <img src="/static/magda.jpg">
        </div>
        <div class="col-lg-6 col-md-6 orgcard hidden-content l">
            <div>
                <h1>Jakub <span>Sytnik</span></h1>
                <span>Specjalista ds. Grafiki komputerowej | Technik</span>
                <p>Cześć,
                    mam na imię Jakub lecz znajomi nazywają mnie Jezusem. W życiu prywatnym jestem basistą który się
                    jeszcze uczy. Jeśli chodzi o wospcona to głównie zajmuję się grafikami lecz na samym konwencie będę
                    również jako techniczny więc jak ktoś będzie potrzebował pomocy lub miał jakiś problem można się do
                    mnie zgłaszać.</p>
            </div>
            <img src="/static/jezus.jpg">
        </div>
        <div class="col-lg-6 col-md-6 orgcard hidden-content r">
            <div>
                <h1>Kamila <span>Wróblewska</span></h1>
                <span>Koordynatorka ds. konkursu cosplay</span>
                <p>Hejo, z tej strony Kama albo Celtia. Możecie mnie kojarzyć z cosplayu Vi. Głównie podczas
                    konwentu będę zajmować się konkursem cosplay, na spokojnie również możecie podchodzić
                    do mnie z pytaniami o inne rzeczy. Podczas konwentu będę biegać, to na pewno, ale
                    spokojnie zatrzymam się, żeby poświecić wam czas. </p>
            </div>
            <img src="/static/kama.jpg">
        </div>
        <div class="col-lg-6 col-md-6 orgcard hidden-content l">
            <div>
                <h1>Kaś "Paleta" <span>Pawleta</span></h1>
                <span>Specjalistka ds. Prelegentów | Fotograf cosplay</span>
                <p>Hejka wszystkim mordeczkom - Jestem Kaś ,ale możecie mi mówić Paleta. Jako współorganizator konwentu
                    wośp-con zajmuję się głównie Fotostudiem jednak od edycji 2024 zajmuję również prelekcjami. Jestem
                    też taką osobą, do której możecie się zwrócić kiedy nie jesteście pewni gdzie macie iść czy co się
                    dzieje. Także jeśli macie jakiś problem możecie zgłaszać się również do mnie ^^</p>
            </div>
            <img src="/static/paleta.jpg">
        </div>
        <div class="col-lg-6 col-md-6 orgcard hidden-content r">
            <div>
                <h1><span>Wambi</span></h1>
                <span>Prowadząca Just Dance</span>
                <p>Siema, jestem Wambi. Na konwencie będziecie mogli mnie spotkać na prelekcji o filmie
                    Fnafa za która głównie odpowiadam. W razie potrzeby służę też pomocą dla was.
                    Gdzie można mnie znaleźć w czasie konwentu? Wszędzie!</p>
                <div class="refs">
                    <a class="ref instagram" href="https://instagram.com/wambi_cosplayer?igshid=OGQ5ZDc2ODk2ZA=="
                       target="_blank" rel="noopener noreferrer"><span>Instagram</span></a>
                    <a class="ref instagram" href="https://instagram.com/lajz_art?igshid=MzMyNGUyNmU2YQ=="
                       target="_blank" rel="noopener noreferrer"><span>Instagram 2</span></a>
                </div>
            </div>

            <img src="/static/wambi.jpg">
        </div>
        <div class="col-lg-6 col-md-6 orgcard hidden-content l">
            <div>
                <h1><span>Pszmo</span></h1>
                <span>Mistrz Ceremonii | Prowadzący Just Dance</span>
                <p>człowiek orkiestra i chaos w jednym, siedzi w konwentach od 2016 roku. Jest znany jako konferansjer
                    od Opolconu 2022 i ze stroju Doom Slayera</p>
            </div>
            <img src="/static/pszmo.jpg">
        </div>
        <div class="col-lg-6 col-md-6 orgcard hidden-content r">
            <div>
                <h1>Weronika <span>Policht</span></h1>
                <span>Specjalistka ds. mediów społecznościowych</span>
                <p>Hejka, jestem Weronika. Cóż… przyznaję się bez bicia, że o świecie cosplayowym wiem
                    mało, ale za to media są moim konikiem. Na konwencie większość czasu będę spędzać z
                    wami - naszymi gośćmi. Jeżeli będziecie mieć pytanie albo problem podchodzicie </p>
            </div>
            <img src="/static/malinka.jpg">
        </div>
    </section>

    <section class="row about_speakers" id="speakers">
        <div class="col-lg-12 stitle ">
            <h1>PRELEGENCI</h1>
        </div>
        <div class="col-lg-12 program-holder">
            <!--SESJA 10:45 - 12:15-->
            <div class="pcard speaker hidden">
                <img src="/static/kitagawa.png">
                <h3>AMDER</h3>
                <p>Na Zdrowie - czyli o zdrowiu w anime</p>
            </div>
            <div class="pcard speaker hidden">
                <img src="/static/kitagawa.png">
                <h3>RIVER</h3>
                <p>Dlaczego moje propy wyglądają źle? Czyli jak używać farby w cosplayu</p>
            </div>
            <div class="pcard speaker hidden">
                <img src="/static/kitagawa.png">
                <h3>NARU</h3>
                <p>Greccy Bogowie - jak to ugryźć?</p>
            </div>

            <!--SESJA 12:30 - 13:45-->
            <div class="pcard speaker hidden">
                <img src="/static/kitagawa.png">
                <h3>MEGANE</h3>
                <p>Dungeons and Dragons dla początkujących</p>
            </div>
            <div class="pcard speaker hidden">
                <img src="/static/kitagawa.png">
                <h3>SOUTA</h3>
                <p>O kolorze białym w cosplay'u.</p>
            </div>
            <div class="pcard speaker hidden">
                <img src="/static/kitagawa.png">
                <h3>OTAK</h3>
                <p>Mangi i Anime Akcyjniaki</p>
                <span class="warn">PRELEKCJA +18</span>
            </div>

            <!--SESJA 14:00 - 15:15-->
            <div class="pcard speaker hidden">
                <img src="/static/kitagawa.png">
                <h3>SUBARU</h3>
                <p>Zapomniana bogini Sumeru - czyli Lore The Greater Lord Rukkhadevata.</p>
            </div>
            <div class="pcard speaker hidden">
                <img src="/static/kitagawa.png">
                <h3>RONS</h3>
                <p>Jak napisać swoją historię w istniejącym uniwersum - fanfiction z punktów widzenia zawodowej
                    pisarki</p>
            </div>
            <div class="pcard speaker hidden">
                <img src="/static/kitagawa.png">
                <h3>KIZUI</h3>
                <p>What the hammer? czym jest warhammer 40k</p>
                <span class="warn">PRELEKCJA +16</span>
            </div>

            <!--SESJA 15:30 - 16:45-->
            <div class="pcard speaker hidden">
                <img src="/static/kitagawa.png">
                <h3>MerciChristmas</h3>
                <p>I have two wolfs inside of me (czyli o omegaverse)</p>
            </div>
            <div class="pcard speaker hidden">
                <img src="/static/kitagawa.png">
                <h3>JURY WOŚPCON2024</h3>
                <p>Historia kariery cosplayerów, którzy teraz zasiadają w Jury konkursu cosplay </p>
            </div>
            <div class="pcard speaker hidden">
                <img src="/static/kitagawa.png">
                <h3>CELTIA</h3>
                <p>Jak przygotować się na konkurs cosplay?</p>
            </div>
            <div class="pcard speaker hidden">
                <img src="/static/kitagawa.png">
                <h3>TBA</h3>
                <p>Niedługo ogłosimy jeszcze jedną prelekcję ;)</p>
            </div>

        </div>
    </section>

    <section class="row" id="lecture-table">
        <div class="col-lg-12 stitle dark">
            <h1>Rozkład godzinowy prelekcji</h1>
            <span>Wszystkie prelekcje odbywają sie na trzecim piętrze.<br>Prelekcje z ograniczeniem wiekowym oznaczone są <span>czerwoną obwódką</span>.</span>
        </div>
        <div class="col-lg-12 lecture-table-holder">
            <table class="lec-tab">
                <thead>
                <th>Nr. sali</th>
                <th>10:45 - 12:15</th>
                <th>12:30 - 13:45</th>
                <th>14:00 - 15:15</th>
                <th>15:30 - 16:45</th>
                <th>17:00 - 18:15</th>
                </thead>
                <tbody>
                <tr>
                    <td>3.07</td>
                    <td>Na Zdrowie - czyli o zdrowiu w anime</td>
                    <td>Dungeons and Dragons dla początkujących</td>
                    <td>Zapomniana bogini Sumeru - czyli Lore The Greater Lord Rukkhadevata.</td>
                    <td>I have two wolfs inside of me (czyli o omegaverse)</td>
                    <td>TBA</td>
                </tr>
                <tr>
                    <td>3.03</td>
                    <td>Dlaczego moje propy wyglądają źle? Czyli jak używać farby w cosplayu</td>
                    <td>O kolorze białym w cosplay'u.</td>
                    <td>Jak napisać swoją historię w istniejącym uniwersum - fanfiction z punktów widzenia zawodowej pisarki</td>
                    <td>Historia kariery cosplayerów, którzy teraz zasiadają w Jury konkursu cosplay</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>3.04</td>
                    <td>Greccy Bogowie - jak to ugryźć?</td>
                    <td class="age-restricion">Mangi i Anime Akycjniaki<br><span class="age-restricion">+18</span></td>
                    <td>What the hammer? czym jest warhammer 40k</td>
                    <td>Jak przygotować się na konkurs cosplay?</td>
                    <td>-</td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>

    <!--dokumenty-->
    <section class="row" id="documents">
        <div class="col-lg-12 stitle">
            <h1>REGULAMINY I ZGODY</h1>
            <span>lorem ipsum</span>
        </div>
        <div class="col-lg-12 documents">
            <a class="doccard" rel="noopener noreferrer" title="Regulamin zostanie wkrótce dodany!" target="_blank">
                <h5>Regulamin wydarzenia</h5>
                <span>Regulamin zostanie wkrótce dodany</span>
            </a>
            <a class="doccard" href="/documents/regulamin_konkurs_cosplay-WOSPCON2024.pdf" target="_blank"
               rel="noopener noreferrer">
                <h5>Regulamin konkursu cosplay</h5>
            </a>
            <a class="doccard" rel="noopener noreferrer" title="Regulamin zostanie wkrótce dodany!" target="_blank">
                <h5>Regulamin wystawców</h5>
                <span>Regulamin zostanie wkrótce dodany</span>
            </a>
            <a class="doccard" rel="noopener noreferrer" title="Regulamin zostanie wkrótce dodany!" target="_blank">
                <h5>Zgoda na nocleg</h5>
                <span>Zgoda zostanie wkrótce dodana</span>
                <span class="warn">Nocleg jest przewidziany wyłącznie dla: Prelegentów, gości specjalnych, uczestników konkursu cosplay oraz obsługi wydarzenia</span>
            </a>
            <a class="doccard" rel="noopener noreferrer" href="/documents/Regulamin-dla-Prelegentów-wośpcon.pdf"
               target="_blank">
                <h5>Regulamin prelegentów</h5>
            </a>
        </div>
    </section>

    <footer class="row">
        <div class="col-lg-12 footer">
            <p>WOŚPCON 2024 jest organizowany przez esport.casa, Liceum i Technikum TEB Opole oraz wyżej wymienionych
                organizatorów.<br>Właścicielem niniejszej strony jest esport.casa. Wszelkie prawa zastrzeżone.
                <br>
                Strona wykonana i zarządzana przez
                <a class="purpleglow" href="https://julianjaros.pl" target="_blank" rel="noreferrer noopener">Julian
                    Jaros</a> dla esport.casa</p>
        </div>
    </footer>
</div>

</body>
</html>